/* colors */

$white: #fff;
$background-general: #fff;
$blue-logo: #004AAD;
$gray-logo: #A6A6A6;
$yelow-logo: #E8A926;

/* colors fonts */

$font-gray-dark: #3B3737;
$font-black: #000;
$font-blue-ligth: #3a73be;